h1 {
  margin-left: 180px;
}

.grid {
  margin-left: 170px;
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
  outline: 2px solid rgb(32, 32, 32);
}
.grid div {
  height: 40px;
  width: 40px;
  cursor: pointer;
  outline: 1px solid darkgray;
  text-align: center;
  line-height: 40px;
}
.grid div:hover {
  background-color: rgb(145, 152, 149);
}
.flag::after {
  content: "🚩";
}

#reset {
  margin-left: 350px;
  margin-bottom: 10px;
}
